
a:hover{text-decoration:none;color:#fff;}

.table_toolbar{
	background-color: #F7F7F7;
	padding:15px;
	height: 60px;
	border-bottom: 1px solid #D2D2D2;
}
.table{
	margin-left:20px;
	width:98%;
}
#attr-div{
	position: absolute;
	top:60px;
	right:0px;
	display:none;
	background-color:#fff;
	border-left: 1px solid #D2D2D2;
}
#attr-close-div{
	position:absolute;
	left:0px;
	width:13px;
	height:84px;
	background: url(../img/menu_close_btn.png) no-repeat;
}
#attr-close-div:hover{
	background: url(../img/menu_close_btn_hl.png) no-repeat;
}
#attr-content-div{
	overflow:hidden;
	padding:20px 0px 20px 20px;
}
#attr-toolbar-div{
	overflow:hidden;
	width:100%;
	padding:20px 50px;
	background-color:#F8F8F8;
	border-top:1px solid #EBEBEB;
	text-align: right;
}
.attr-list-div{
	overflow:hidden;
}
.attr-list-title-div{
	height:40px;
	line-height:38px;
	background-color:#F8F8F8;
	padding:0px 10px;
	font-family: tahoma,arial,'Hiragino Sans GB','Microsoft YaHei',\5b8b\4f53,sans-serif;
	font-size: 15px;
	color: #888888;
}
.attr-list-title-div a{
	text-decoration:none;color: #888888;
}
.attr-list-title-div a:hover{
	text-decoration:none;color: #fff;background-color: #7DB500;
}
.attr-title-right{
	float:right;	
}
.attr-list-persion-div{
	float:left;
	margin-top:15px;
	width:280px;
	height:430px;
	border:1px solid #DDDDDD;
}
.attr-list-persion-div table,.attr-list-role-div table{
	margin-left:0px;
	width:100%;
	color:#4B4B4B;
}
.attr-table-normal-div{
	width:100%;
	height:423px;
}
.attr-list-role-div{
	float:left;
	width:500px;
	height:430px;
	border:1px solid #DDDDDD;
	margin-top:15px;
	margin-left:10px;
}
.bottom-border{
	border-bottom: 1px solid #DDDDDD;
}
.pagination{
	margin:0px;
	margin-left:20px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #00A1CB;
	border-color: #00A1CB;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #00A1CB;
	background-color: #eee;
	border-color: #ddd;
}