body {
   background: url(../img/login_header.png) no-repeat;
  background-color: #fff;
}

#login-div{
  margin: 0px auto;
  width: 518px;
  height: 491px;
  margin-top: 120px;
  overflow: hidden;
  background: url(../img/login_w_bg.png) no-repeat;
}

.button{
	height:36px;
	line-height:36px;
}
a:hover{text-decoration:none;color:#fff;}

#login-title{
  margin:0px auto;
  width: 180px;
  line-height: 70px;
  font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

#login-form{
  width: 280px;
  margin: 0px auto;
  margin-top: 50px;
  overflow: hidden;
}
#loginform label {
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 16px;
  color: rgba(0,0,0,0.3);
}
#errormsg{
	dispaly:none;
	color:#ff0000;
}




